<h1 class="title">Cadastro de Usuário</h1>

<%= form_with model: @user, url: users_path, local: true do |form| %>
  <div class="field">
    <%= form.label :email_address, "Email" %>
    <div class="control">
      <%= form.email_field :email_address, class: "input", required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password, "Senha" %>
    <div class="control">
      <%= form.password_field :password, class: "input", required: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :password_confirmation, "Confirmar Senha" %>
    <div class="control">
      <%= form.password_field :password_confirmation, class: "input", required: true %>
    </div>
  </div>

  <div class="control">
    <%= form.submit "Cadastrar", class: "button is-primary" %>
  </div>
<% end %>
