<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Videolocadora" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Videolocadora">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">


        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= root_path %>">
            Filmes
          </a>
          <a class="navbar-item" href="<%= generos_path %>">
            Gêneros
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% unless authenticated? %>
                <a class="button is-primary" href="<%= new_user_path %>">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="<%= new_session_path %>">
                  Log in
                </a>
              <% else %>
                <%= Current.user.email_address %>
                <%= link_to "Log out", session_path,
                data: { turbo_method: :delete },
                class: "navbar-item button is-light"%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div style="width: 50%; margin:0 auto;">
      <%= yield %>
    </div>
  </body>
</html>
